* {
  box-sizing: border-box;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: min-content;
  gap: 10px;
  color: seashell;
  background: #5388ae;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  column-span: all;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.header-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

img[src$="input.gif"] {
  width: auto;
  height: fit-content;
}

img[src$="2023.jpg"] {
  width: 12vw;
  border-radius: 15px;
}

.header-container blockquote {
  width: 390px;
  border: rgb(85, 98, 110) 10px outset;
  background-color: rgba(74, 102, 121, 0.7);
  font-size: 18px;
  font-family: "Chakra Petch", sans-serif;
  text-align: left;
  line-height: 140%;
  padding: 5px;
}

/* Navigation bar */

.main-nav ul {
  list-style-type: none;
}

.main-nav li {
  margin: 10px;
  padding: 10px;
  width: 180px;
  background-color: #4a6679;
  border-radius: 15px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav li:hover {
  color: rgb(254, 254, 254);
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
}

.main-nav {
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  padding-right: 20px;
}

/* Main content - multicolumn layout */

.main-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  background-color: #3e7aa1;
  padding: 15px;
}

.left-main {
  display: table;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-family: "Chakra Petch", sans-serif;
}

td {
  display: table-cell;
  padding: 15px;
}

.main-container h2 {
  text-indent: 15px;
}

.right-main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  padding-top: 30px;
  padding-left: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Saira Semi Condensed", sans-serif;
}

.projects ul {
  display: inline-block;
  text-indent: -1.5em;
  list-style-type: none;
}

.bottom-right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.bottom-right > * {
  width: 160px;
  height: 120px;
}

a[href*="badhtml.com"]:hover {
  color: rgb(151, 11, 11);
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #5388ae;
  color: white;
  font-size: 20px;
  font-family: "Chakra Petch", sans-serif;
}
