.header-container {
  margin: 0;
  max-width: 1920px;
  background-color: lightslategray;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

#myname {
  display: inline-block;
  font-family: "Delius", sans-serif;
  font-size: 50px;
  vertical-align: middle;
  padding: 10px;
  position: relative;
}

#myname + img {
  display: inline-block;
  vertical-align: middle;
  width: 192px;
  padding: 10px;
  margin-right: 50px;
}
* {
  box-sizing: border-box;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: rgb(12, 15, 17);
}

ul.navbar li {
  display: inline;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

ul.navbar li a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #f1f1f1;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  padding: 25px;
  width: 25%;
  height: 100%;
  background-color: rgb(153, 160, 168);
}

/* Right column */
.rightcolumn {
  width: 75%;
  background-color: rgb(171, 182, 193);
  padding-left: 50px;
}

.general li {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
